<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('test_home') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">TV shows</a></li>
        <li><a href="{{ path('serie_add') }}">New TV Show</a></li>

    </ul>
</nav>